body {
  background-color: #f2f2f2;
}

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  .panel-box {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background: #ffffff;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h1, h2{
      font-family: sans-serif;
    }
    h1{
      margin-bottom: 0;
      text-align: center;
      display: inline-block;
      &+span{
        font-size: 10px;
        margin-left: 3px;
      }
    }
    h2{
      font-size: 20px;
      color: #505050;
    }
    .content-box{
      flex-grow: 20;
    }
    .form-box{
      margin-left: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: 1px solid #f2f2f2;
      label{
        display: block;
        font-family: sans-serif;
        margin-bottom: 10px;
      }
      select{
        width: 100%;
        padding: 5px;
      }
    }
    .footer-box{
      align-self: flex-end;
    }
  }
  .map-box {
    width: 100%;
    min-height: 100vh;
  }
}